body{
    background-color: #E4E0FF;
    background-color: #e5f1f14d;
    margin: 0px;
    width: 100%;
    font-family: 'Manrope', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.header{
    box-sizing: border-box;
    background-color: #102c34;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: fixed;
    top: 0px;
    z-index: 10;
}
#global{
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: #E4E0FF;
    background-color: #e5f1f14d;
    backdrop-filter: blur(5px);
}
.nada{
    background-image: linear-gradient(to bottom,#ffd7e3,#ffcbcb);
    height: 61.94px;
}
.logodiv{
    display: grid;
    grid-template-columns: 1fr;
}
.logo{
    margin-left: auto;
    margin-right: auto;
}
.botonesdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#botones{
    position: absolute;
    top: 20px;
    right: 12.5%;
    margin: auto;
}
.footer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    margin-top: 180px;
    color: #6e6e73;
    background-color: #282024;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
#name{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 8px;
}
.logodeez{
    margin-top: 8px;
}
.divbusqueda {
    margin-top: 90px;
    height: 23px;
    width: 100%;
    background-color: #102c34;
    display: grid;
    padding-bottom: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.busqueda2{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    grid-template-columns: 1fr 9fr;
    border-radius: 200px;
    background-color: white;
}
.lupa{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30%;
}
.busqueda{
    margin: 0% 20% 0% 5%;
    border-width: 0px;
    border-radius: 200px;
    font-family: 'Raleway', sans-serif;
}
.containerArtist {

    margin: auto;
    margin-top: 50px;
    padding: auto;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    
}

#imageArtist {
    color: white;
    background-image: url(../Imagenes/Badbunny.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin: 10px;
    margin-left: 6px;
    padding: 75px;
    box-sizing: border-box;
}

#textArtist {
    color: white;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
}

#textArtist a{
    color: #ff004cc4;
    font-weight: 500;
}


.containerPlayShuffle {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    text-align: center;
    color: #ff004cc4;
    font-weight: bold;
}

.playButton {
    border-radius: 4px;
    background-color:  #f0f0f0b0;
    margin: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*.playButton{font-family: 'Heebo', sans-serif;}*/

}

.artistName {
    color: #ff004cc4;
}

.albumName {
    color: black;
}

.genreName {
    color: gray;
}
#myTopnav {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 10;
 }
 
 .divbusqueda2 {
     background-color: none;
     margin-top: 10px;
     height: 23px;
     width: 100%;
     display: grid;
     padding-bottom: 5px;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     margin-bottom: 10px;
 }
 
 .busqueda2a {
     display: grid;
     margin-left: auto;
     margin-right: auto;
     width: 70%;
     grid-template-columns: 1fr 9fr;
     border-radius: 200px;
     border: solid 1px gray;
     background-color: white;
     
 }
 
 
 .burger {
    cursor: pointer;
    text-align: left;
    position: absolute;
    left: 11%;
    top: 20px;
 }
 
 .burger div {
     width: 25px;
     height: 1px;
     background-color: black;
     margin: 5px;
     text-align: left;
 }
 
 .topnav a{display: none;}
   .topnav a.burger {
     float: right;
     display: block;
   }
   .topnav.responsive {position: relative;}
     .topnav.responsive .burger {
       position: absolute;
       right: 0;
       top: 0;
     }
     .topnav.responsive a {
       float: none;
       display: block;
       text-align: left;
     }

     .topnav.responsive .busqueda2a {
        margin-top: 11px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
 
     #containerTopNav {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         margin-bottom: 10px;
         margin-top: 5px;
     }
 
     #logoSoundWaves  {
         background-color: none;
     }
 
     .line3 {
         background-color: #ff004cc4;
         height: 1px;
         margin: 1px;
         margin-left: 5%;
         margin-right: 5%;
     }
 
     .topnav.responsive .line {
         height: 1px;
         background-color: #ecc8d3e1;
     }
 
     .topnav.responsive .line3 {
         display: none;
     }

@media (min-width: 600px){
    .footer{
        display: grid;
        grid-template-columns: 4fr 1fr;
        width: 100%;
        margin-top: 270px;
        color: #6e6e73;
        background-color: #282024;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
    }
}