body {
    background-color: rgba(251, 244, 255, 0.788);
    background-color: #e5f1f14d;
    margin: 0px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}



                                               




#containerdelcontainer {
    width: 100%;
    margin: auto;
    border-radius: 5px;
}


.containerArtista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5px;
    background-image: url(../Imagenes/NoraEnPure.jpg);
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

#detalleArtista {
    margin-top: 200px;
    color: aqua;
    padding-left: 20px;
}

#nombreDelArtista {
    color: white;
}

.seguidores {
   margin-top: 5px;
   padding-left: 30px;
   color: gray;
   font-weight: lighter;
}

.topSongs {
    margin-top: 30px;
   padding-left: 30px;
   color: black;
   font-weight: bold;
}


                                                



.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}



.containerArtist {

    margin: auto;
    margin-top: 50px;
    padding: auto;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    
}

#imageArtist {
    color: white;
    background-image: url(../Imagenes/homebound.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin: 10px;
    margin-left: 6px;
    padding: 75px;
    box-sizing: border-box;
}
#imageArtistt {
    color: white;
    background-image: url(../Imagenes/canserbero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin: 10px;
    margin-left: 6px;
    padding: 75px;
    box-sizing: border-box;
}

#textArtist {
    color: white;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
}

#textArtist a{
    color: #ff004cc4;
    font-weight: 500;
}


.containerPlayShuffle {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: #ff004cc4;
    font-weight: bold;
}

.playButton {
    border-radius: 4px;
    background-color:  #f0f0f0b0;
    margin: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.artistName {
    color: #ff004cc4;
}

.albumName {
    color: black;
}

.genreName {
    color: gray;
}



                                          



#ranking_tracks{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 90%;
    background-color: white;
    height: 175px;
    border-radius: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#ranking_tracks a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.canciones{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    font-family: 'Manrope', sans-serif;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#track{
    margin-top: auto;
    margin-bottom: auto;
}

#track-image{
    margin: auto;
}

.header{
    box-sizing: border-box;
    background-color: #102c34;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: fixed;
    top: 0px;
    z-index: 10;
}


.logodiv{
    display: grid;
    grid-template-columns: 1fr;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

.botonesdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#botones{
    margin: auto;
}

.footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #518594;
    width: 100%;
    margin-top: 390px;
    color: rgb(204, 204, 204);
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

#name{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 8px;
}

.logodeez{
    margin-top: 8px;
}

.divbusqueda {
    margin-top: 90px;
    height: 23px;
    width: 100%;
    background-color: #102c34;
    display: grid;
    padding-bottom: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: px;
}

.busqueda2{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    grid-template-columns: 1fr 9fr;
    border-radius: 200px;
    background-color: white;
}

.lupa{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30%;
}

.busqueda{
    margin: 0% 20% 0% 5%;
    border-width: 0px;
    border-radius: 200px;
    font-family: 'Raleway', sans-serif;
}

#topfive{
    color: black;
    background-color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px 30px 10px 30px;
    padding-bottom: 8px;
}

.topcancion{
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2px;
}

#cabeza{
    padding: 10px 0px 10px
}

@media (min-width: 600px){
    body{background-color: blue;}
}